/*add++.gif*/
.xshop_add { background-image: url("/App_Themes/Cms/Icon/xshop/add++.gif"); }
/*add-manezensong.gif*/
.xshop_add-manezensong { background-image: url("/App_Themes/Cms/Icon/xshop/add-manezensong.gif"); }
/*add-nojihuoyouhuiquan.gif*/
.xshop_add-nojihuoyouhuiquan { background-image: url("/App_Themes/Cms/Icon/xshop/add-nojihuoyouhuiquan.gif"); }
/*addActing.png*/
.xshop_addActing { background-image: url("/App_Themes/Cms/Icon/xshop/addActing.png"); }
/*addAdminGroup.png*/
.xshop_addAdminGroup { background-image: url("/App_Themes/Cms/Icon/xshop/addAdminGroup.png"); }
/*addAdministrator.png*/
.xshop_addAdministrator { background-image: url("/App_Themes/Cms/Icon/xshop/addAdministrator.png"); }
/*addAffiche.png*/
.xshop_addAffiche { background-image: url("/App_Themes/Cms/Icon/xshop/addAffiche.png"); }
/*addArticle.png*/
.xshop_addArticle { background-image: url("/App_Themes/Cms/Icon/xshop/addArticle.png"); }
/*addArticleClass.png*/
.xshop_addArticleClass { background-image: url("/App_Themes/Cms/Icon/xshop/addArticleClass.png"); }
/*addBrand.png*/
.xshop_addBrand { background-image: url("/App_Themes/Cms/Icon/xshop/addBrand.png"); }
/*addCustomList.png*/
.xshop_addCustomList { background-image: url("/App_Themes/Cms/Icon/xshop/addCustomList.png"); }
/*addDeliverArea.png*/
.xshop_addDeliverArea { background-image: url("/App_Themes/Cms/Icon/xshop/addDeliverArea.png"); }
/*addDeliverMode.png*/
.xshop_addDeliverMode { background-image: url("/App_Themes/Cms/Icon/xshop/addDeliverMode.png"); }
/*addHelpCategories.png*/
.xshop_addHelpCategories { background-image: url("/App_Themes/Cms/Icon/xshop/addHelpCategories.png"); }
/*addOrderSelect.png*/
.xshop_addOrderSelect { background-image: url("/App_Themes/Cms/Icon/xshop/addOrderSelect.png"); }
/*addPayMode.png*/
.xshop_addPayMode { background-image: url("/App_Themes/Cms/Icon/xshop/addPayMode.png"); }
/*addPrcImageType .png*/
.xshop_addPrcImageType { background-image: url("/App_Themes/Cms/Icon/xshop/addPrcImageType .png"); }
/*addPriceTmpt.png*/
.xshop_addPriceTmpt { background-image: url("/App_Themes/Cms/Icon/xshop/addPriceTmpt.png"); }
/*addProCoin.png*/
.xshop_addProCoin { background-image: url("/App_Themes/Cms/Icon/xshop/addProCoin.png"); }
/*addproduct.gif*/
.xshop_addproduct { background-image: url("/App_Themes/Cms/Icon/xshop/addproduct.gif"); }
/*addProductClass.png*/
.xshop_addProductClass { background-image: url("/App_Themes/Cms/Icon/xshop/addProductClass.png"); }
/*addProductTmpt.png*/
.xshop_addProductTmpt { background-image: url("/App_Themes/Cms/Icon/xshop/addProductTmpt.png"); }
/*addProvider.png*/
.xshop_addProvider { background-image: url("/App_Themes/Cms/Icon/xshop/addProvider.png"); }
/*addstore.gif*/
.xshop_addstore { background-image: url("/App_Themes/Cms/Icon/xshop/addstore.gif"); }
/*addUser.png*/
.xshop_addUser { background-image: url("/App_Themes/Cms/Icon/xshop/addUser.png"); }
/*addUserGroup.png*/
.xshop_addUserGroup { background-image: url("/App_Themes/Cms/Icon/xshop/addUserGroup.png"); }
/*add_Affiche.gif*/
.xshop_add_Affiche { background-image: url("/App_Themes/Cms/Icon/xshop/add_Affiche.gif"); }
/*add_help.gif*/
.xshop_add_help { background-image: url("/App_Themes/Cms/Icon/xshop/add_help.gif"); }
/*add_selectstation.png*/
.xshop_add_selectstation { background-image: url("/App_Themes/Cms/Icon/xshop/add_selectstation.png"); }
/*add_StationInfo.png*/
.xshop_add_StationInfo { background-image: url("/App_Themes/Cms/Icon/xshop/add_StationInfo.png"); }
/*add_user.gif*/
.xshop_add_user { background-image: url("/App_Themes/Cms/Icon/xshop/add_user.gif"); }
/*admin_AddGift+.gif*/
.xshop_admin_AddGift { background-image: url("/App_Themes/Cms/Icon/xshop/admin_AddGift+.gif"); }
/*admin_AddGift.png*/
.xshop_admin_Gift { background-image: url("/App_Themes/Cms/Icon/xshop/admin_AddGift.png"); }
/*admin_AddProduct.gif*/
.xshop_admin_AddProduct { background-image: url("/App_Themes/Cms/Icon/xshop/admin_AddProduct.gif"); }
/*admin_CreateOrder.gif*/
.xshop_admin_CreateOrder { background-image: url("/App_Themes/Cms/Icon/xshop/admin_CreateOrder.gif"); }
/*admin_cuxiao.gif*/
.xshop_admin_cuxiao { background-image: url("/App_Themes/Cms/Icon/xshop/admin_cuxiao.gif"); }
/*admin_DrawRequest.gif*/
.xshop_admin_DrawRequest { background-image: url("/App_Themes/Cms/Icon/xshop/admin_DrawRequest.gif"); }
/*admin_ImportCard.png*/
.xshop_admin_ImportCard { background-image: url("/App_Themes/Cms/Icon/xshop/admin_ImportCard.png"); }
/*admin_ManageAgentialRank.gif*/
.xshop_admin_ManageAgentialRank { background-image: url("/App_Themes/Cms/Icon/xshop/admin_ManageAgentialRank.gif"); }
/*admin_ManageCardInventory.gif*/
.xshop_admin_ManageCardInventory { background-image: url("/App_Themes/Cms/Icon/xshop/admin_ManageCardInventory.gif"); }
/*admin_ManageOrderOptions.gif*/
.xshop_admin_ManageOrderOptions { background-image: url("/App_Themes/Cms/Icon/xshop/admin_ManageOrderOptions.gif"); }
/*admin_MemberPrices.gif*/
.xshop_admin_MemberPrices { background-image: url("/App_Themes/Cms/Icon/xshop/admin_MemberPrices.gif"); }
/*admin_OrderManage.gif*/
.xshop_admin_OrderManage { background-image: url("/App_Themes/Cms/Icon/xshop/admin_OrderManage.gif"); }
/*admin_ProductExport.png*/
.xshop_admin_ProductExport { background-image: url("/App_Themes/Cms/Icon/xshop/admin_ProductExport.png"); }
/*admin_ProductInStock.png*/
.xshop_admin_ProductInStock { background-image: url("/App_Themes/Cms/Icon/xshop/admin_ProductInStock.png"); }
/*admin_ReCharge.gif*/
.xshop_admin_ReCharge { background-image: url("/App_Themes/Cms/Icon/xshop/admin_ReCharge.gif"); }
/*admin_SetProductAgentPrice.gif*/
.xshop_admin_SetProductAgentPrice { background-image: url("/App_Themes/Cms/Icon/xshop/admin_SetProductAgentPrice.gif"); }
/*admin_SetProductMemberPrice.gif*/
.xshop_admin_SetProductMemberPrice { background-image: url("/App_Themes/Cms/Icon/xshop/admin_SetProductMemberPrice.gif"); }
/*basket_go.png*/
.xshop_basket_go { background-image: url("/App_Themes/Cms/Icon/xshop/basket_go.png"); }
/*bmquanxian.gif*/
.xshop_bmquanxian { background-image: url("/App_Themes/Cms/Icon/xshop/bmquanxian.gif"); }
/*Calendar_scheduleHS.png*/
.xshop_Calendar_scheduleHS { background-image: url("/App_Themes/Cms/Icon/xshop/Calendar_scheduleHS.png"); }
/*chngcol.gif*/
.xshop_chngcol { background-image: url("/App_Themes/Cms/Icon/xshop/chngcol.gif"); }
/*comment3.gif*/
.xshop_comment3 { background-image: url("/App_Themes/Cms/Icon/xshop/comment3.gif"); }
/*comment3_delete.gif*/
.xshop_comment3_delete { background-image: url("/App_Themes/Cms/Icon/xshop/comment3_delete.gif"); }
/*Common.gif*/
.xshop_Common { background-image: url("/App_Themes/Cms/Icon/xshop/Common.gif"); }
/*Commond.gif*/
.xshop_Commond { background-image: url("/App_Themes/Cms/Icon/xshop/Commond.gif"); }
/*contact_16x16.gif*/
.xshop_contact_16x16 { background-image: url("/App_Themes/Cms/Icon/xshop/contact_16x16.gif"); }
/*creatnew.gif*/
.xshop_creatnew { background-image: url("/App_Themes/Cms/Icon/xshop/creatnew.gif"); }
/*dalx.gif*/
.xshop_dalx { background-image: url("/App_Themes/Cms/Icon/xshop/dalx.gif"); }
/*dazhe.gif*/
.xshop_dazhe { background-image: url("/App_Themes/Cms/Icon/xshop/dazhe.gif"); }
/*delicon.gif*/
.xshop_delicon { background-image: url("/App_Themes/Cms/Icon/xshop/delicon.gif"); }
/*diqu.gif*/
.xshop_diqu { background-image: url("/App_Themes/Cms/Icon/xshop/diqu.gif"); }
/*discount.gif*/
.xshop_discount { background-image: url("/App_Themes/Cms/Icon/xshop/discount.gif"); }
/*donjie.gif*/
.xshop_donjie { background-image: url("/App_Themes/Cms/Icon/xshop/donjie.gif"); }
/*duodu.png*/
.xshop_duodu { background-image: url("/App_Themes/Cms/Icon/xshop/duodu.png"); }
/*edit.gif*/
.xshop_edit { background-image: url("/App_Themes/Cms/Icon/xshop/edit.gif"); }
/*editicon.gif*/
.xshop_editicon { background-image: url("/App_Themes/Cms/Icon/xshop/editicon.gif"); }
/*expfenlei.png*/
.xshop_expfenlei { background-image: url("/App_Themes/Cms/Icon/xshop/expfenlei.png"); }
/*export.gif*/
.xshop_export { background-image: url("/App_Themes/Cms/Icon/xshop/export.gif"); }
/*faceList.png*/
.xshop_faceList { background-image: url("/App_Themes/Cms/Icon/xshop/faceList.png"); }
/*fajian.gif*/
.xshop_fajian { background-image: url("/App_Themes/Cms/Icon/xshop/fajian.gif"); }
/*feed.gif*/
.xshop_feed { background-image: url("/App_Themes/Cms/Icon/xshop/feed.gif"); }
/*ghs.gif*/
.xshop_ghs { background-image: url("/App_Themes/Cms/Icon/xshop/ghs.gif"); }
/*gif-0251.gif*/
.xshop_gif-0251 { background-image: url("/App_Themes/Cms/Icon/xshop/gif-0251.gif"); }
/*GroupPurchase.gif*/
.xshop_GroupPurchase { background-image: url("/App_Themes/Cms/Icon/xshop/GroupPurchase.gif"); }
/*guoqidecuxiao.gif*/
.xshop_guoqidecuxiao { background-image: url("/App_Themes/Cms/Icon/xshop/guoqidecuxiao.gif"); }
/*guoqiyouhuijuan.gif*/
.xshop_guoqiyouhuijuan { background-image: url("/App_Themes/Cms/Icon/xshop/guoqiyouhuijuan.gif"); }
/*handlenode.gif*/
.xshop_handlenode { background-image: url("/App_Themes/Cms/Icon/xshop/handlenode.gif"); }
/*helpicon.GIF*/
.xshop_helpicon.GIF { background-image: url("/App_Themes/Cms/Icon/xshop/helpicon.GIF"); }
/*help_16x16.gif*/
.xshop_help_16x16 { background-image: url("/App_Themes/Cms/Icon/xshop/help_16x16.gif"); }
/*highlighter.png*/
.xshop_highlighter { background-image: url("/App_Themes/Cms/Icon/xshop/highlighter.png"); }
/*Home1.gif*/
.xshop_Home1 { background-image: url("/App_Themes/Cms/Icon/xshop/Home1.gif"); }
/*homeTst.png*/
.xshop_homeTst { background-image: url("/App_Themes/Cms/Icon/xshop/homeTst.png"); }
/*hotkeywords.gif*/
.xshop_hotkeywords { background-image: url("/App_Themes/Cms/Icon/xshop/hotkeywords.gif"); }
/*house_3.png*/
.xshop_house_3 { background-image: url("/App_Themes/Cms/Icon/xshop/house_3.png"); }
/*ICEST.GIF*/
.xshop_ICEST { background-image: url("/App_Themes/Cms/Icon/xshop/ICEST.GIF"); }
/*ICESTAdd.gif*/
.xshop_ICESTAdd { background-image: url("/App_Themes/Cms/Icon/xshop/ICESTAdd.gif"); }
/*ICLOG.GIF*/
.xshop_ICLOG { background-image: url("/App_Themes/Cms/Icon/xshop/ICLOG.GIF"); }
/*ICNPIE.GIF*/
.xshop_ICNPIE { background-image: url("/App_Themes/Cms/Icon/xshop/ICNPIE.GIF"); }
/*icon_icon.gif*/
.xshop_icon_icon { background-image: url("/App_Themes/Cms/Icon/xshop/icon_icon.gif"); }
/*ICPROP.GIF*/
.xshop_ICPROP { background-image: url("/App_Themes/Cms/Icon/xshop/ICPROP.GIF"); }
/*img08.gif*/
.xshop_img08 { background-image: url("/App_Themes/Cms/Icon/xshop/img08.gif"); }
/*import.gif*/
.xshop_import { background-image: url("/App_Themes/Cms/Icon/xshop/import.gif"); }
/*inout.gif*/
.xshop_inout { background-image: url("/App_Themes/Cms/Icon/xshop/inout.gif"); }
/*jiageshezhi.gif*/
.xshop_jiageshezhi { background-image: url("/App_Themes/Cms/Icon/xshop/jiageshezhi.gif"); }
/*jibenxinxi.gif*/
.xshop_jibenxinxi { background-image: url("/App_Themes/Cms/Icon/xshop/jibenxinxi.gif"); }
/*jieshaoshezhi.gif*/
.xshop_jieshaoshezhi { background-image: url("/App_Themes/Cms/Icon/xshop/jieshaoshezhi.gif"); }
/*leftitems001.gif*/
.xshop_leftitems001 { background-image: url("/App_Themes/Cms/Icon/xshop/leftitems001.gif"); }
/*leftitems002.gif*/
.xshop_leftitems002 { background-image: url("/App_Themes/Cms/Icon/xshop/leftitems002.gif"); }
/*leftitems003.gif*/
.xshop_leftitems003 { background-image: url("/App_Themes/Cms/Icon/xshop/leftitems003.gif"); }
/*leftitems004.gif*/
.xshop_leftitems004 { background-image: url("/App_Themes/Cms/Icon/xshop/leftitems004.gif"); }
/*leftitems005.gif*/
.xshop_leftitems005 { background-image: url("/App_Themes/Cms/Icon/xshop/leftitems005.gif"); }
/*leftitems006.gif*/
.xshop_leftitems006 { background-image: url("/App_Themes/Cms/Icon/xshop/leftitems006.gif"); }
/*leftitems007.gif*/
.xshop_leftitems007 { background-image: url("/App_Themes/Cms/Icon/xshop/leftitems007.gif"); }
/*left_cuxiao.gif*/
.xshop_left_cuxiao { background-image: url("/App_Themes/Cms/Icon/xshop/left_cuxiao.gif"); }
/*left_daili.gif*/
.xshop_left_daili { background-image: url("/App_Themes/Cms/Icon/xshop/left_daili.gif"); }
/*left_member.gif*/
.xshop_left_member { background-image: url("/App_Themes/Cms/Icon/xshop/left_member.gif"); }
/*left_money.gif*/
.xshop_left_money { background-image: url("/App_Themes/Cms/Icon/xshop/left_money.gif"); }
/*left_order.gif*/
.xshop_left_order { background-image: url("/App_Themes/Cms/Icon/xshop/left_order.gif"); }
/*left_product.gif*/
.xshop_left_product { background-image: url("/App_Themes/Cms/Icon/xshop/left_product.gif"); }
/*link.gif*/
.xshop_link { background-image: url("/App_Themes/Cms/Icon/xshop/link.gif"); }
/*list.gif*/
.xshop_list { background-image: url("/App_Themes/Cms/Icon/xshop/list.gif"); }
/*liuyan.gif*/
.xshop_liuyan { background-image: url("/App_Themes/Cms/Icon/xshop/liuyan.gif"); }
/*liuyan_2.gif*/
.xshop_liuyan_2 { background-image: url("/App_Themes/Cms/Icon/xshop/liuyan_2.gif"); }
/*lock_16x16.gif*/
.xshop_lock_16x16 { background-image: url("/App_Themes/Cms/Icon/xshop/lock_16x16.gif"); }
/*LOGO.GIF*/
.xshop_LOGO { background-image: url("/App_Themes/Cms/Icon/xshop/LOGO.GIF"); }
/*LTCONTCT.GIF*/
.xshop_LTCONTCT { background-image: url("/App_Themes/Cms/Icon/xshop/LTCONTCT.GIF"); }
/*mail1_(add).gif*/
.xshop_mail1_(add) { background-image: url("/App_Themes/Cms/Icon/xshop/mail1_(add).gif"); }
/*mail1_(edit).gif*/
.xshop_mail1_(edit) { background-image: url("/App_Themes/Cms/Icon/xshop/mail1_(edit).gif"); }
/*mail1_16x16.gif*/
.xshop_mail1_16x16 { background-image: url("/App_Themes/Cms/Icon/xshop/mail1_16x16.gif"); }
/*mail2_16x16.gif*/
.xshop_mail2_16x16 { background-image: url("/App_Themes/Cms/Icon/xshop/mail2_16x16.gif"); }
/*manezensong.gif*/
.xshop_manezensong { background-image: url("/App_Themes/Cms/Icon/xshop/manezensong.gif"); }
/*message_icon1.jpg*/
.xshop_message_icon1 { background-image: url("/App_Themes/Cms/Icon/xshop/message_icon1.jpg"); }
/*mianyunfei.gif*/
.xshop_mianyunfei { background-image: url("/App_Themes/Cms/Icon/xshop/mianyunfei.gif"); }
/*money_yen.png*/
.xshop_money_yen { background-image: url("/App_Themes/Cms/Icon/xshop/money_yen.png"); }
/*moveProduct.png*/
.xshop_moveProduct { background-image: url("/App_Themes/Cms/Icon/xshop/moveProduct.png"); }
/*n1.jpg*/
.xshop_n1 { background-image: url("/App_Themes/Cms/Icon/xshop/n1.jpg"); }
/*n2.jpg*/
.xshop_n2 { background-image: url("/App_Themes/Cms/Icon/xshop/n2.jpg"); }
/*n3.jpg*/
.xshop_n3 { background-image: url("/App_Themes/Cms/Icon/xshop/n3.jpg"); }
/*new.gif*/
.xshop_new { background-image: url("/App_Themes/Cms/Icon/xshop/new.gif"); }
/*new.jpg*/
.xshop_new { background-image: url("/App_Themes/Cms/Icon/xshop/new.jpg"); }
/*nojihuoyouhuiquan.gif*/
.xshop_nojihuoyouhuiquan { background-image: url("/App_Themes/Cms/Icon/xshop/nojihuoyouhuiquan.gif"); }
/*ordersearch.gif*/
.xshop_ordersearch { background-image: url("/App_Themes/Cms/Icon/xshop/ordersearch.gif"); }
/*order_1.gif*/
.xshop_order_1 { background-image: url("/App_Themes/Cms/Icon/xshop/order_1.gif"); }
/*order_liuyan.gif*/
.xshop_order_liuyan { background-image: url("/App_Themes/Cms/Icon/xshop/order_liuyan.gif"); }
/*PackageSales.gif*/
.xshop_PackageSales { background-image: url("/App_Themes/Cms/Icon/xshop/PackageSales.gif"); }
/*PanicBuying.gif*/
.xshop_PanicBuying { background-image: url("/App_Themes/Cms/Icon/xshop/PanicBuying.gif"); }
/*photos.png*/
.xshop_photos { background-image: url("/App_Themes/Cms/Icon/xshop/photos.png"); }
/*post.gif*/
.xshop_post { background-image: url("/App_Themes/Cms/Icon/xshop/post.gif"); }
/*procsetup.gif*/
.xshop_procsetup { background-image: url("/App_Themes/Cms/Icon/xshop/procsetup.gif"); }
/*ProductSetup.png*/
.xshop_ProductSetup { background-image: url("/App_Themes/Cms/Icon/xshop/ProductSetup.png"); }
/*RechargeableCard.gif*/
.xshop_RechargeableCard { background-image: url("/App_Themes/Cms/Icon/xshop/RechargeableCard.gif"); }
/*redo.gif*/
.xshop_redo { background-image: url("/App_Themes/Cms/Icon/xshop/redo.gif"); }
/*saveitem.gif*/
.xshop_saveitem { background-image: url("/App_Themes/Cms/Icon/xshop/saveitem.gif"); }
/*sb_111.png*/
.xshop_sb_111 { background-image: url("/App_Themes/Cms/Icon/xshop/sb_111.png"); }
/*security.gif*/
.xshop_security { background-image: url("/App_Themes/Cms/Icon/xshop/security.gif"); }
/*seiting.png*/
.xshop_seiting { background-image: url("/App_Themes/Cms/Icon/xshop/seiting.png"); }
/*settings.gif*/
.xshop_settings { background-image: url("/App_Themes/Cms/Icon/xshop/settings.gif"); }
/*setupziXuan.png*/
.xshop_setupziXuan { background-image: url("/App_Themes/Cms/Icon/xshop/setupziXuan.png"); }
/*shiyoudecuxiao.gif*/
.xshop_shiyoudecuxiao { background-image: url("/App_Themes/Cms/Icon/xshop/shiyoudecuxiao.gif"); }
/*shiyoudeyouhuijuan.gif*/
.xshop_shiyoudeyouhuijuan { background-image: url("/App_Themes/Cms/Icon/xshop/shiyoudeyouhuijuan.gif"); }
/*shongji.gif*/
.xshop_shongji { background-image: url("/App_Themes/Cms/Icon/xshop/shongji.gif"); }
/*shoujian.gif*/
.xshop_shoujian { background-image: url("/App_Themes/Cms/Icon/xshop/shoujian.gif"); }
/*spinner.gif*/
.xshop_spinner { background-image: url("/App_Themes/Cms/Icon/xshop/spinner.gif"); }
/*SPLOGO.GIF*/
.xshop_SPLOGO { background-image: url("/App_Themes/Cms/Icon/xshop/SPLOGO.GIF"); }
/*standard_msg_error.gif*/
.xshop_standard_msg_error { background-image: url("/App_Themes/Cms/Icon/xshop/standard_msg_error.gif"); }
/*standard_msg_ok.gif*/
.xshop_standard_msg_ok { background-image: url("/App_Themes/Cms/Icon/xshop/standard_msg_ok.gif"); }
/*standard_msg_warning.gif*/
.xshop_standard_msg_warning { background-image: url("/App_Themes/Cms/Icon/xshop/standard_msg_warning.gif"); }
/*step_1.gif*/
.xshop_step_1 { background-image: url("/App_Themes/Cms/Icon/xshop/step_1.gif"); }
/*superAdministrator.png*/
.xshop_superAdministrator { background-image: url("/App_Themes/Cms/Icon/xshop/superAdministrator.png"); }
/*TBNAIL.GIF*/
.xshop_TBNAIL { background-image: url("/App_Themes/Cms/Icon/xshop/TBNAIL.GIF"); }
/*tichen.gif*/
.xshop_tichen { background-image: url("/App_Themes/Cms/Icon/xshop/tichen.gif"); }
/*time.gif*/
.xshop_time { background-image: url("/App_Themes/Cms/Icon/xshop/time.gif"); }
/*tj_1.gif*/
.xshop_tj_1 { background-image: url("/App_Themes/Cms/Icon/xshop/tj_1.gif"); }
/*tj_2.gif*/
.xshop_tj_2 { background-image: url("/App_Themes/Cms/Icon/xshop/tj_2.gif"); }
/*tongji.gif*/
.xshop_tongji { background-image: url("/App_Themes/Cms/Icon/xshop/tongji.gif"); }
/*tools.gif*/
.xshop_tools { background-image: url("/App_Themes/Cms/Icon/xshop/tools.gif"); }
/*tq_services.gif*/
.xshop_tq_services { background-image: url("/App_Themes/Cms/Icon/xshop/tq_services.gif"); }
/*tupianshezhi.gif*/
.xshop_tupianshezhi { background-image: url("/App_Themes/Cms/Icon/xshop/tupianshezhi.gif"); }
/*up_16x16.gif*/
.xshop_up_16x16 { background-image: url("/App_Themes/Cms/Icon/xshop/up_16x16.gif"); }
/*user.gif*/
.xshop_user { background-image: url("/App_Themes/Cms/Icon/xshop/user.gif"); }
/*usergroup.gif*/
.xshop_usergroup { background-image: url("/App_Themes/Cms/Icon/xshop/usergroup.gif"); }
/*usermanager.gif*/
.xshop_usermanager { background-image: url("/App_Themes/Cms/Icon/xshop/usermanager.gif"); }
/*Users.gif*/
.xshop_Users { background-image: url("/App_Themes/Cms/Icon/xshop/Users.gif"); }
/*usersetup.gif*/
.xshop_usersetup { background-image: url("/App_Themes/Cms/Icon/xshop/usersetup.gif"); }
/*warning.gif*/
.xshop_warning { background-image: url("/App_Themes/Cms/Icon/xshop/warning.gif"); }
/*x_blue.gif*/
.xshop_x_blue { background-image: url("/App_Themes/Cms/Icon/xshop/x_blue.gif"); }
/*yeimianshezhi.gif*/
.xshop_yeimianshezhi { background-image: url("/App_Themes/Cms/Icon/xshop/yeimianshezhi.gif"); }
/*yufukuan.gif*/
.xshop_yufukuan { background-image: url("/App_Themes/Cms/Icon/xshop/yufukuan.gif"); }
/*zhekou.gif*/
.xshop_zhekou { background-image: url("/App_Themes/Cms/Icon/xshop/zhekou.gif"); }
/*zhixuanpeizhi.gif*/
.xshop_zhixuanpeizhi { background-image: url("/App_Themes/Cms/Icon/xshop/zhixuanpeizhi.gif"); }
/*zixuan.gif*/
.xshop_zixuan { background-image: url("/App_Themes/Cms/Icon/xshop/zixuan.gif"); }
/*_return.png*/
.xshop__return { background-image: url("/App_Themes/Cms/Icon/xshop/_return.png"); }
/*shipping_d_icon.jpg*/
.xshop_shipping_d_icon { background-image: url("/App_Themes/Cms/Icon/xshop/shipping_d_icon.jpg"); }
/*favicon_qq.png*/
.xshop_favicon_qq { background-image: url("/App_Themes/Cms/Icon/xshop/favicon_qq.png"); }
/*sinaweibo16x16.png*/
.xshop_sinaweibo16x16 { background-image: url("/App_Themes/Cms/Icon/xshop/sinaweibo16x16.png"); }
/*favicon_alipay.png*/
.xshop_favicon_alipay { background-image: url("/App_Themes/Cms/Icon/xshop/favicon_alipay.jpg"); }
/*favicon_tenpay.png*/
.xshop_favicon_tenpay { background-image: url("/App_Themes/Cms/Icon/xshop/favicon_tenpay.png"); }