<?xml version="1.0" encoding="utf-8"?>
<Weike defaultLanguage="zh-CN">
  <SiteInfo>
    <!--网站名称-->
    <add key="WebName" value="WebSiteName" />
    <add key="HomeUrl" value="http://localhost:10001/" />
    <add key="PageTitle" value="WebSiteName" />
    <!--标题的分隔符-->
    <add key="BrowserTitleSeparator" value="," />
    <add key="KeyWord" value="KeyWord" />
    <add key="Author" value="Author" />
    <add key="CopyRight" value="CopyRight" />
    <add key="SiteStatus" value="1" />
    <add key="StopSiteStatusDes" value="抱歉, 网站在维护中... ..." />
    <add key="PermissionsStatus" value="1" />
    <add key="OpenWebCache" value="0" />
    <add key="WebCache" value="600" />
    <add key="ManageAds" value="1" />
  </SiteInfo>
  <EmailInfo>
    <add key="smtp" value="smtp.sina.com" />
    <add key="emailname" value="test" />
    <add key="email" value="test@sina.com" />
    <add key="emailpwd" value="55AAADECEBFE409E0644753C79D3D0D2" />
    <add key="port" value="25" />
  </EmailInfo>
  <UploadInfo>
    <add key="UploadFolder" value="/UploadFolder/" />
    <add key="UploadExtension" value="gif|jpg|jpeg|png" />
    <!--单位M-->
    <add key="UploadSize" value="3" />
  </UploadInfo>
  <MobileAccount>
    <add key="UserName" value="username" />
    <add key="UserPwd" value="userpwd" />
  </MobileAccount>
  <RoleDLLInfo>
    <!--权限映射dll, 多个用|分割-->
    <add key="path" value="~/bin/DealMvc.dll" />
  </RoleDLLInfo>
  <Alipay>
    <add key="partner" value="partner值" />
    <add key="key" value="key值" />
    <add key="seller_email" value="seller_email值" />
  </Alipay>
</Weike>