/*找回密码*/
.fp_content { padding-top: 50px; background-color: #191919; }

.fp_content .selectDiv { width: 100%; overflow: hidden; }
.fp_content .selectDiv .div_phone { width: 99%; height: 60px; cursor: pointer; background: url('/App_Themes/images/fpphoneuncheck.gif'); float: left; border-right: 1px solid #666; background-size: 81%; background-repeat: no-repeat; background-position: 50% 50%; }
.fp_content .selectDiv .div_phone.select { background: url('/App_Themes/images/fpphonecheck.gif'); background-size: 81%; background-repeat: no-repeat; background-position: 50% 50%; }
.fp_content .selectDiv .div_email { width: 99%; height: 60px; cursor: pointer; background: url('/App_Themes/images/fpemailuncheck.png'); float: left; background-size: 80%; background-repeat: no-repeat; background-position: 50% 50%; }
.fp_content .selectDiv .div_email.select { background: url('/App_Themes/images/fpemailcheck.png'); background-size: 81%; background-repeat: no-repeat; background-position: 50% 50%; }
.fp_content .selectDiv .sd_left { float: left; overflow: hidden; padding-bottom: 15px; border-bottom: 1px solid #959595; width: 50%; }
.fp_content .selectDiv .sd_left.select { padding-bottom: 13px; border-bottom: 3px solid #959595; }
.fp_content .selectDiv .sd_right { float: left; overflow: hidden; padding-bottom: 15px; border-bottom: 1px solid #959595; width: 50%; }
.fp_content .selectDiv .sd_right.select { padding-bottom: 13px; border-bottom: 3px solid #959595; }

.fp_content .login { padding: 10% 0; }
.fp_content .LC_Content li { text-align: center; height: 80px; line-height: 80px; }
.fp_content .LC_Content input { width: 80%; height: 45px; border-radius: 5px; background-color: #2b2b2b; border: none; padding: 8px 3%; color: #fff; }
.fp_content .LC_Content .btn_submit { background-color: #9e0001; height: 60px; font-size: 20px; width: 96%; font-weight: bold; }
.fp_content .LC_Content .regbuttom { background-color: #666; height: 60px; width: 96%; margin-top: 20px; font-weight: bold; border-radius: 5px; color: #fff; margin-left: 2%; line-height: 60px; display: block; }
.fp_content .LC_Content .otherli { line-height: 110px; text-align: right; padding-right: 2%; color: #999; }
.fp_content .LC_Content .mb35 { margin-bottom: 35px; }

.fp_content .LC_Content .regli { text-align: left; }
.fp_content .LC_Content .regli input { width: 47%; margin-left: 7%; }
.fp_content .LC_Content .regli img { width: 30%; height: 55px; vertical-align: middle; }
.fp_content .LC_Content .otherli_reg { color: #999; }
.fp_content .LC_Content .otherli_reg a { color: #9e0001; }

.fp_content .LC_Content .btnDiv input { background-color: #9a0000; width: 86%; }


.fp_content .login li { text-align: center; color: #ccc; }

.fp_content .login .success_tips { overflow: hidden; font-size: 18px; text-align: center; }
.fp_content .login .success_tips .fl { color: #ccc; width: 100%; }
.fp_content .login .success_tips a { color: #fff; }




